- name: Deploy via FTP
  uses: SamKirkland/FTP-Deploy-Action@4.3.0
  with:
    server: ${{ secrets.CPANEL_HOST }}
    username: ${{ secrets.CPANEL_USERNAME }}
    password: ${{ secrets.CPANEL_PASSWORD }}
    port: 21
    protocol: ftp
    local-dir: dist/
    server-dir: ${{ secrets.CPANEL_SERVER_DIR }}/
    log-level: verbose
